[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
scrapy = "*"
beautifulsoup4 = "*"
requests = "*"
unidecode = "*"
pytest = "*"
pytest-cov = "*"
moto = "*"
pylint = "*"
reportlab = "*"
selenium = "*"
webdriver-manager = "*"
coverage = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.8"
